<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="client_yeni.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString"
            connectionString="Data Source=78.189.180.167;Initial Catalog=Track_EmergencyCall_Contact;Persist Security Info=True;User ID=coskunkazma;Password=25karasahin"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString1"
            connectionString="Data Source=192.168.1.2;Initial Catalog=Track_EmergencyCall_Contact;Persist Security Info=True;User ID=coskunkazma;Password=25karasahin"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString2"
            connectionString="Data Source=78.189.180.28;Initial Catalog=Track_EmergencyCall_Contact;Persist Security Info=True;User ID=coskunkazma;Password=25karasahin"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Database2ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database2.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="client_yeni.Properties.Settings.LocalConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Local.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString3"
            connectionString="Data Source=COSKUN-PC\COSKUN;Initial Catalog=Track_EmergencyCall_Contact;User ID=sa;Password=kartal25"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString4"
            connectionString="Data Source=COSKUN-PC\COSKUN;Initial Catalog=Track_EmergencyCall_Contact;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString5"
            connectionString="Data Source=192.168.1.2;Initial Catalog=Track_EmergencyCall_Contact;Persist Security Info=True;User ID=coskunkazma;Password=kartal25"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString6"
            connectionString="Data Source=78.189.180.28;Initial Catalog=Track_EmergencyCall_Contact;Persist Security Info=True;User ID=coskunkazma;Password=kartal25"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Track_EmergencyCall_ContactConnectionString7"
            connectionString="Data Source=192.168.1.70;Initial Catalog=Track_EmergencyCall_Contact;Persist Security Info=True;User ID=coskunkazma;Password=kartal25"
            providerName="System.Data.SqlClient" />
        <add name="client_yeni.Properties.Settings.Local_verilerConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Local_veriler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <client_yeni.Properties.Settings>
            <setting name="client_yeni_com_basaktelemetri_Service1" serializeAs="String">
                <value>http://basaktelemetri.com/locationWebService.asmx</value>
            </setting>
        </client_yeni.Properties.Settings>
    </applicationSettings>
</configuration>